<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">Navbar</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarColor03">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">
								<a class="nav-link active" href="{{path('home')}}">Home
									<span class="visually-hidden">(current)</span>
								</a>
							</li>
							{% if app.user %}
								<li class="nav-item">
									<a class="btn btn-danger" href="{{path('secret')}}">Secret</a>
								</li>
							{% endif %}
						</ul>
						{% if not app.user %}
							<ul class="navbar-nav me-4">
								<li class="nav-item">
									<a class="btn btn-secondary" href="{{path('app_login')}}">Login</a>
								</li>
							</ul>
						{% endif %}
						{% if app.user %}
							<ul class="navbar-nav me-4">
								<li class="nav-item">
									<span class="nav-link">You are logged in as
										{{app.user.username}}</span>
								</li>
								<li class="nav-item">
									<a class="btn btn-secondary" href="{{path('app_logout')}}">Logout</a>
								</li>
							</ul>
						{% endif %}
						<form class="d-flex" data-dashlane-rid="82b31caea5962749" data-form-type="">
							<input class="form-control me-sm-2" type="text" placeholder="Search" data-dashlane-rid="0e63b00ae180dc2e" data-form-type="">
							<button class="btn btn-success my-2 my-sm-0" type="submit" data-dashlane-rid="e106b8abfe8aa383" data-dashlane-label="true" data-form-type="">Search</button>
						</form>
					</div>
				</div>
			</body>
		</body>
	</html>
</nav>{% endblock %}{% block body %}{% endblock %}</body>{% block javascripts %}<script src="{{ asset('js/boostrap.js') }}"></script>{% endblock %}</html>
